#hide these values 
SECRET_KEY=5432

DEBUG=True
DATABASE_NAME=kernel_lect2_django_essentials
DATABASE_USER=postgres
DATABASE_PASSWORD=5432
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_SCHEMA=blog

#thi is a new edit
openai_api_key=sk-<your_api_key_here>